#container{
    font-family: Arial, sans-serif;
    width:100%;
    padding-left:10%;
}
h2{
    font-size:3em;
    color: #2562c2;
}

.published{
    font-size: 0.8em;
    color:gray;
}

.text{
    font-size: 2em;
    color:black;
}